# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large data/models
document_for_rag/
*.pdf
faiss_index/
